<p style="color: green"><%= notice %></p>

<h1>Headline search</h1><p style="color: green"><%= notice %></p>

<%= form_tag(search_path) do %>
  <%= label_tag :search, "Search for:" %>
  <%= search_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end%>

<% if params[:search].present? %>
  <h2>Results for "<%= params[:search]%>"</h2>
  <% if @headlines.present? %>
    <table>
      <thead>
        <tr>
          <th>Headline </th>
          <th>Member</th>
        </tr>
      </thead>
      <tbody>
        <% @headlines.each do |headline|  %>
          <tr>
            <td><%= headline.content %></td>
            <td><%= link_to headline.member.name, headline.member%></td>

          </tr>
        <% end%>
      </tbody>
    </table>
  <% else %>
    <p>No headlines found!</p>
  <% end%>
<% end%>


<%= link_to "All Members", members_path %>
