<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Website Url:</strong>
    <%= member.website_url %>
  </p>

  <p>
    <strong>Website Headlines(<%= member.headlines.count%>):</strong>
    <ul>
      <% member.headlines.each do |headline| %>
        <li><%= headline.content %> (<%= headline.level%>)
      <%end%>
    </ul>
  </p>

</div>
